@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll {
  overflow-y: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.scroll::-webkit-scrollbar {
  display: block;
}
